@font-face {
    font-family: 'lato';
    src: url('fonts/lato-medium-webfont.eot');
    src: url('fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-medium-webfont.woff2') format('woff2'),
         url('fonts/lato-medium-webfont.woff') format('woff'),
         url('fonts/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media only screen and (max-width:560px){

h1 {
    font-size: 1.2rem;
  }

}

nav#header {
    background-color: 000!important;
}

.has-search span {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-group.has-search input.form-control {
    padding-left: 2em;
    border-radius: 15px;
}

.text-platzi {
  color: #97c93e !important;
}

.btn-platzi {
  background-color: #97c93e;
  color: white;
}

.btn-platzi:hover {
  background-color: #82ad36;
}

#header img {
  width: 280px;
}

#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}


li a span {
display: block;
    margin-bottom: -5px;
	font-family: 'lato';
}

h5 span {
display: block;

}

h5.card-title.text-center {
    border-bottom: 3px solid #bfbf19;
    padding-bottom: 0.4em;
}

button#dropdownMenu2 {
    background-color: #00000000;
    border: none;
}

li a {
font-family: 'lato';
}

h1,p,h2,h3,h4,h5,h5 {
font-family: 'lato';
}

body {
    background-color: #eee;
}


div#navbar ul.navbar-nav.ml-auto li.nav-item {
    text-align: center;
    padding-right: 1em;
}


#carouselExampleControls {
  position: relative;
}

.container.Overlay-Slider-1 .text-left {
    display: inline-block!important;
}

.container.Overlay-Slider-1 h1 {
    background-color: yellow;
    color: black;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 1em;
    display: inline-block;
    margin-bottom: 1em;
}

#carouselExampleControls .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carouselExampleControls .overlay .container {
  height: 100%;
}

#place-time {
  background-color: #343a40;
  color: white;
}

#place-time img {
  max-width: 100%;
}

#footer {
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

#footer a {
  color: white;
}
